body {
    background-color: rgb(196, 255, 204);
    margin: 0;
    background-repeat: repeat-x;
    background-position: right top;

}
html {
    background-color: rgb(237, 250, 215);
}
li {
    display: inline;;
}

li a{
    text-align: center;

    display: block;
    width: 60px;
    text-decoration: none;
    padding: 8px 16px;
    border-bottom: 1px solid #555
}

li last-child {
    border-bottom :none;
}
li a :hover{
    background-color: cadetblue;
    color: white;

}

li a.active {
    background-color: green;
    color: azure;
}

li a:hover:not(.active){
    background-color:blue;
    color: wheat;
    
}




  
  /* selected link */
  a:active {
    color: blue;
  }


p::first-line {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: aqua;
    border: 1px solid #555;
    width: 90px;
}